table.table-borderless td,
table.table-borderless th {
    border: 0 !important;
}
table.table-borderless td:first-child {
  font-weight: bold;
  text-align: right;
}
.studentAdd {
  margin-bottom: 20px;
}
.radio {
  margin-top: 1px;
}
table.allstudents img {
  width: 38px;
}
.danger {
  padding: 10px 20px;
}
